.st0{fill:#FFFFFF;}
.st1{fill:#A71680;}
.st2{fill:#FAB439;}
.st3{fill:#3AAA35;}
.st4{fill:#005CA9;}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:#D5DCDF;}
.st6{fill:#1D1D1B;}
.st7{clip-path:url(#SVGID_00000103239968013575194740000004116299075580996017_);}
.st8{fill:#412683;}
.st9{fill:#412884;}
.st10{fill:#402884;}
.st11{fill:#402984;}
.st12{fill:#412984;}
.st13{fill:#412A84;}
.st14{fill:#402B84;}
.st15{fill:#402C84;}
.st16{fill:#412D84;}
.st17{fill:#402D84;}
.st18{fill:#402E84;}
.st19{fill:#402F84;}
.st20{fill:#403084;}
.st21{fill:#403184;}
.st22{fill:#403284;}
.st23{fill:#3F3284;}
.st24{fill:#403384;}
.st25{fill:#403484;}
.st26{fill:#3F3584;}
.st27{fill:#403684;}
.st28{fill:#3F3684;}
.st29{fill:#3F3784;}
.st30{fill:#3F3884;}
.st31{fill:#3E3984;}
.st32{fill:#3F3984;}
.st33{fill:#3F3A84;}
.st34{fill:#3F3B84;}
.st35{fill:#3E3B84;}
.st36{fill:#3F3C84;}
.st37{fill:#3F3D84;}
.st38{fill:#3E3D84;}
.st39{fill:#3E3E84;}
.st40{fill:#3F3F84;}
.st41{fill:#3E4084;}
.st42{fill:#3E4184;}
.st43{fill:#3D4284;}
.st44{fill:#3E4384;}
.st45{fill:#3D4484;}
.st46{fill:#3D4584;}
.st47{fill:#3D4684;}
.st48{fill:#3D4784;}
.st49{fill:#3C4784;}
.st50{fill:#3C4884;}
.st51{fill:#3D4984;}
.st52{fill:#3C4A84;}
.st53{fill:#3C4B84;}
.st54{fill:#3B4C84;}
.st55{fill:#3C4C84;}
.st56{fill:#3C4D84;}
.st57{fill:#3B4D84;}
.st58{fill:#3B4E84;}
.st59{fill:#3B4F84;}
.st60{fill:#3B5083;}
.st61{fill:#3B5183;}
.st62{fill:#3A5183;}
.st63{fill:#3A5283;}
.st64{fill:#3B5383;}
.st65{fill:#3A5383;}
.st66{fill:#3A5483;}
.st67{fill:#395583;}
.st68{fill:#3A5583;}
.st69{fill:#3A5683;}
.st70{fill:#3A5682;}
.st71{fill:#395782;}
.st72{fill:#3A5882;}
.st73{fill:#395982;}
.st74{fill:#395A82;}
.st75{fill:#385A82;}
.st76{fill:#385B82;}
.st77{fill:#395C81;}
.st78{fill:#385D81;}
.st79{fill:#385E81;}
.st80{fill:#395E81;}
.st81{fill:#385F81;}
.st82{fill:#376080;}
.st83{fill:#386180;}
.st84{fill:#376280;}
.st85{fill:#37637F;}
.st86{fill:#36637F;}
.st87{fill:#37647F;}
.st88{fill:#37657F;}
.st89{fill:#36667E;}
.st90{fill:#37677E;}
.st91{fill:#36687E;}
.st92{fill:#36687D;}
.st93{fill:#36697D;}
.st94{fill:#37697D;}
.st95{fill:#366A7D;}
.st96{fill:#366B7C;}
.st97{fill:#356B7C;}
.st98{fill:#356C7C;}
.st99{fill:#366D7C;}
.st100{fill:#366D7B;}
.st101{fill:#356E7B;}
.st102{fill:#356F7B;}
.st103{fill:#366F7B;}
.st104{fill:#35707A;}
.st105{fill:#35717A;}
.st106{fill:#347179;}
.st107{fill:#367279;}
.st108{fill:#357279;}
.st109{fill:#357379;}
.st110{fill:#347378;}
.st111{fill:#347478;}
.st112{fill:#357577;}
.st113{fill:#347677;}
.st114{fill:#347676;}
.st115{fill:#337776;}
.st116{fill:#357776;}
.st117{fill:#347875;}
.st118{fill:#347975;}
.st119{fill:#337974;}
.st120{fill:#357A74;}
.st121{fill:#347A74;}
.st122{fill:#347B73;}
.st123{fill:#337C73;}
.st124{fill:#337C72;}
.st125{fill:#347D72;}
.st126{fill:#347D71;}
.st127{fill:#347E71;}
.st128{fill:#337E71;}
.st129{fill:#337E70;}
.st130{fill:#347F70;}
.st131{fill:#34806F;}
.st132{fill:#33806F;}
.st133{fill:#33816E;}
.st134{fill:#32816E;}
.st135{fill:#34826D;}
.st136{fill:#33836C;}
.st137{fill:#33846B;}
.st138{fill:#34846B;}
.st139{fill:#34856B;}
.st140{fill:#34856A;}
.st141{fill:#33866A;}
.st142{fill:#338669;}
.st143{fill:#348769;}
.st144{fill:#348768;}
.st145{fill:#348868;}
.st146{fill:#338867;}
.st147{fill:#338966;}
.st148{fill:#348966;}
.st149{fill:#348A65;}
.st150{fill:#338B64;}
.st151{fill:#358C63;}
.st152{fill:#348C63;}
.st153{fill:#348D62;}
.st154{fill:#348D61;}
.st155{fill:#358E61;}
.st156{fill:#358E60;}
.st157{fill:#358F5F;}
.st158{fill:#348F5F;}
.st159{fill:#34905E;}
.st160{fill:#35915D;}
.st161{fill:#35925C;}
.st162{fill:#35925B;}
.st163{fill:#34925B;}
.st164{fill:#36935A;}
.st165{fill:#369459;}
.st166{fill:#359458;}
.st167{fill:#359558;}
.st168{fill:#379557;}
.st169{fill:#369657;}
.st170{fill:#369656;}
.st171{fill:#369655;}
.st172{fill:#369755;}
.st173{fill:#359754;}
.st174{fill:#379854;}
.st175{fill:#379853;}
.st176{fill:#379952;}
.st177{fill:#369952;}
.st178{fill:#369951;}
.st179{fill:#389A50;}
.st180{fill:#379B4F;}
.st181{fill:#379C4E;}
.st182{fill:#399C4D;}
.st183{fill:#389D4D;}
.st184{fill:#389D4C;}
.st185{fill:#389D4B;}
.st186{fill:#379E4B;}
.st187{fill:#379E4A;}
.st188{fill:#399F49;}
.st189{fill:#38A048;}
.st190{fill:#38A047;}
.st191{fill:#3AA146;}
.st192{fill:#39A145;}
.st193{fill:#39A245;}
.st194{fill:#39A244;}
.st195{fill:#39A343;}
.st196{fill:#3AA343;}
.st197{fill:#3AA442;}
.st198{fill:#3AA441;}
.st199{fill:#39A540;}
.st200{fill:#39A53F;}
.st201{fill:#3BA63E;}
.st202{fill:#3AA73D;}
.st203{fill:#3AA73C;}
.st204{fill:#3AA83B;}
.st205{fill:#3CA83A;}
.st206{fill:#3BA93A;}
.st207{fill:#3BA939;}
.st208{fill:#3BA938;}
.st209{fill:#3BAA37;}
.st210{fill:#3FAB35;}
.st211{fill:#41AB34;}
.st212{fill:#42AB34;}
.st213{fill:#44AC34;}
.st214{fill:#46AC34;}
.st215{fill:#48AC33;}
.st216{fill:#4AAD33;}
.st217{fill:#4CAD33;}
.st218{fill:#4DAD33;}
.st219{fill:#4FAD33;}
.st220{fill:#51AE32;}
.st221{fill:#52AE32;}
.st222{fill:#54AE32;}
.st223{fill:#56AF31;}
.st224{fill:#57AF31;}
.st225{fill:#59AF33;}
.st226{fill:#5AB033;}
.st227{fill:#5CB032;}
.st228{fill:#5DB032;}
.st229{fill:#5FB132;}
.st230{fill:#60B132;}
.st231{fill:#62B131;}
.st232{fill:#63B131;}
.st233{fill:#65B231;}
.st234{fill:#66B230;}
.st235{fill:#68B230;}
.st236{fill:#69B330;}
.st237{fill:#6AB330;}
.st238{fill:#6CB32F;}
.st239{fill:#6DB330;}
.st240{fill:#6EB430;}
.st241{fill:#70B430;}
.st242{fill:#71B42F;}
.st243{fill:#72B52F;}
.st244{fill:#74B52F;}
.st245{fill:#75B52E;}
.st246{fill:#76B62E;}
.st247{fill:#78B62E;}
.st248{fill:#79B62D;}
.st249{fill:#7AB72D;}
.st250{fill:#7BB72D;}
.st251{fill:#7DB72C;}
.st252{fill:#7EB82C;}
.st253{fill:#7FB82C;}
.st254{fill:#80B82C;}
.st255{fill:#82B82C;}
.st256{fill:#83B92C;}
.st257{fill:#84B92B;}
.st258{fill:#85B92B;}
.st259{fill:#87BA2B;}
.st260{fill:#88BA2A;}
.st261{fill:#89BB2A;}
.st262{fill:#8ABA2A;}
.st263{fill:#8BBB29;}
.st264{fill:#8CBB29;}
.st265{fill:#8EBC29;}
.st266{fill:#8FBC28;}
.st267{fill:#90BC28;}
.st268{fill:#91BD27;}
.st269{fill:#92BC27;}
.st270{fill:#93BD28;}
.st271{fill:#94BD28;}
.st272{fill:#95BE27;}
.st273{fill:#96BE27;}
.st274{fill:#97BE26;}
.st275{fill:#98BF26;}
.st276{fill:#99BF26;}
.st277{fill:#9ABF25;}
.st278{fill:#9CBF25;}
.st279{fill:#9DC025;}
.st280{fill:#9EC024;}
.st281{fill:#9FC024;}
.st282{fill:#A0C123;}
.st283{fill:#A1C123;}
.st284{fill:#A2C122;}
.st285{fill:#A3C124;}
.st286{fill:#A4C123;}
.st287{fill:#A5C223;}
.st288{fill:#A6C222;}
.st289{fill:#A7C222;}
.st290{fill:#A8C321;}
.st291{fill:#A9C321;}
.st292{fill:#AAC321;}
.st293{fill:#ABC320;}
.st294{fill:#ABC420;}
.st295{fill:#ACC41F;}
.st296{fill:#ADC41F;}
.st297{fill:#AEC51E;}
.st298{fill:#AFC51D;}
.st299{fill:#B0C51F;}
.st300{fill:#B1C51E;}
.st301{fill:#B2C61E;}
.st302{fill:#B3C61D;}
.st303{fill:#B4C61D;}
.st304{fill:#B5C71C;}
.st305{fill:#B6C71C;}
.st306{fill:#B7C71B;}
.st307{fill:#B8C71B;}
.st308{fill:#B9C81A;}
.st309{fill:#BAC819;}
.st310{fill:#BBC819;}
.st311{fill:#BCC918;}
.st312{fill:#BDC917;}
.st313{fill:#BEC919;}
.st314{fill:#BFC918;}
.st315{fill:#C0CA17;}
.st316{fill:#C1CA17;}
.st317{fill:#C2CA16;}
.st318{fill:#C3CB15;}
.st319{fill:#C4CB14;}
.st320{fill:#C5CB14;}
.st321{fill:#C6CB13;}
.st322{fill:#C7CC12;}
.st323{fill:#C8CC11;}
.st324{fill:#C9CD10;}
.st325{fill:#CACD0F;}
.st326{fill:#CBCD0E;}
.st327{fill:#CCCD0D;}
.st328{fill:#CDCD10;}
.st329{fill:#CDCE0F;}
.st330{fill:#CECE0E;}
.st331{fill:#CFCE0D;}
.st332{fill:#D0CF0C;}
.st333{fill:#D1CF0A;}
.st334{fill:#D2CF09;}
.st335{fill:#D3CF07;}
.st336{fill:#D4D006;}
.st337{fill:#D5D005;}
.st338{fill:#D6D004;}
.st339{fill:#D7D103;}
.st340{fill:#D7D102;}
.st341{fill:#D8D101;}
.st342{fill:#D9D104;}
.st343{fill:#DAD103;}
.st344{fill:#DAD202;}
.st345{fill:#DBD201;}
.st346{fill:#DCD200;}
.st347{fill:#DDD300;}
.st348{fill:#DED300;}
.st349{fill:#DFD300;}
.st350{fill:#E0D300;}
.st351{fill:#E1D400;}
.st352{fill:#E2D400;}
.st353{fill:#E3D500;}
.st354{fill:#E4D400;}
.st355{fill:#E5D500;}
.st356{fill:#E6D500;}
.st357{fill:#E7D600;}
.st358{fill:#E8D600;}
.st359{fill:#E9D600;}
.st360{fill:#EAD700;}
.st361{fill:#EAD600;}
.st362{fill:#EBD700;}
.st363{fill:#ECD700;}
.st364{fill:#EDD800;}
.st365{fill:#EED800;}
.st366{fill:#EFD800;}
.st367{fill:#F0D800;}
.st368{fill:#F1D900;}
.st369{fill:#F3D900;}
.st370{fill:#F4DA00;}
.st371{fill:#F6DA00;}
.st372{fill:#F7DA00;}
.st373{fill:#F8DB00;}
.st374{fill:#F9DB00;}
.st375{fill:#FADC00;}
.st376{fill:#FADB00;}
.st377{fill:#FBDB00;}
.st378{fill:#FCDC00;}
.st379{fill:#FDDC00;}
.st380{fill:#FEDD00;}
.st381{fill:#FFDD00;}
.st382{fill:#FFDE00;}
.st383{fill:#FFDC00;}
.st384{fill:#FFDB00;}
.st385{fill:#FFDA00;}
.st386{fill:#FFD900;}
.st387{fill:#FFD800;}
.st388{fill:#FFD700;}
.st389{fill:#FFD600;}
.st390{fill:#FFD500;}
.st391{fill:#FFD400;}
.st392{fill:#FFD300;}
.st393{fill:#FFD200;}
.st394{fill:#FFD100;}
.st395{fill:#FFD000;}
.st396{fill:#FFCF00;}
.st397{fill:#FFCE00;}
.st398{fill:#FFCD00;}
.st399{fill:#FFCC00;}
.st400{fill:#FFCB00;}
.st401{fill:#FECA00;}
.st402{fill:#FEC900;}
.st403{fill:#FEC800;}
.st404{fill:#FEC700;}
.st405{fill:#FEC600;}
.st406{fill:#FDC600;}
.st407{fill:#FDC500;}
.st408{fill:#FDC400;}
.st409{fill:#FDC300;}
.st410{fill:#FDC200;}
.st411{fill:#FDC100;}
.st412{fill:#FCC100;}
.st413{fill:#FCC000;}
.st414{fill:#FCBF00;}
.st415{fill:#FCBE00;}
.st416{fill:#FCBD00;}
.st417{fill:#FCBC00;}
.st418{fill:#FBBC00;}
.st419{fill:#FBBB00;}
.st420{fill:#FBBA00;}
.st421{fill:#FBB900;}
.st422{fill:#FBB800;}
.st423{fill:#FBB700;}
.st424{fill:#FAB601;}
.st425{fill:#FAB502;}
.st426{fill:#FAB402;}
.st427{fill:#FAB403;}
.st428{fill:#FAB303;}
.st429{fill:#F9B204;}
.st430{fill:#F9B105;}
.st431{fill:#F9B006;}
.st432{fill:#F9AF06;}
.st433{fill:#F9AE07;}
.st434{fill:#F9AD07;}
.st435{fill:#F8AD08;}
.st436{fill:#F8AC08;}
.st437{fill:#F8AB09;}
.st438{fill:#F8AA09;}
.st439{fill:#F8AA0A;}
.st440{fill:#F8A90A;}
.st441{fill:#F7A80A;}
.st442{fill:#F7A70B;}
.st443{fill:#F7A60C;}
.st444{fill:#F7A50C;}
.st445{fill:#F7A40D;}
.st446{fill:#F6A30D;}
.st447{fill:#F6A20D;}
.st448{fill:#F6A20E;}
.st449{fill:#F6A10E;}
.st450{fill:#F6A00F;}
.st451{fill:#F69F0F;}
.st452{fill:#F59E0F;}
.st453{fill:#F59D10;}
.st454{fill:#F59C10;}
.st455{fill:#F59B10;}
.st456{fill:#F59B11;}
.st457{fill:#F59A11;}
.st458{fill:#F49911;}
.st459{fill:#F49811;}
.st460{fill:#F49712;}
.st461{fill:#F49612;}
.st462{fill:#F49512;}
.st463{fill:#F49413;}
.st464{fill:#F39313;}
.st465{fill:#F39213;}
.st466{fill:#F39114;}
.st467{fill:#F39014;}
.st468{fill:#F38F14;}
.st469{fill:#F28E14;}
.st470{fill:#F28D15;}
.st471{fill:#F28C15;}
.st472{fill:#F28B15;}
.st473{fill:#F28A15;}
.st474{fill:#F28915;}
.st475{fill:#F18916;}
.st476{fill:#F18816;}
.st477{fill:#F18716;}
.st478{fill:#F18616;}
.st479{fill:#F18516;}
.st480{fill:#F18416;}
.st481{fill:#F08317;}
.st482{fill:#F08217;}
.st483{fill:#F08117;}
.st484{fill:#F08017;}
.st485{fill:#F07F17;}
.st486{fill:#F07E17;}
.st487{fill:#EF7D18;}
.st488{fill:#EF7C18;}
.st489{fill:#EF7B18;}
.st490{fill:#EF7A18;}
.st491{fill:#EF7918;}
.st492{fill:#EF7818;}
.st493{fill:#EF7718;}
.st494{fill:#EE7618;}
.st495{fill:#EE7519;}
.st496{fill:#EE7419;}
.st497{fill:#EE7319;}
.st498{fill:#EE7219;}
.st499{fill:#EE7119;}
.st500{fill:#EE7019;}
.st501{fill:#ED6F19;}
.st502{fill:#ED6E19;}
.st503{fill:#ED6D19;}
.st504{fill:#ED6C1A;}
.st505{fill:#ED6B1A;}
.st506{fill:#ED6A1A;}
.st507{fill:#EC691A;}
.st508{fill:#EC681A;}
.st509{fill:#EC671A;}
.st510{fill:#EC661A;}
.st511{fill:#EC651A;}
.st512{fill:#EC641A;}
.st513{fill:#EC631A;}
.st514{fill:#EC621A;}
.st515{fill:#EB621A;}
.st516{fill:#EB611A;}
.st517{fill:#EB601B;}
.st518{fill:#EB5F1B;}
.st519{fill:#EB5E1B;}
.st520{fill:#EB5D1B;}
.st521{fill:#EB5C1B;}
.st522{fill:#EA5B1B;}
.st523{fill:#EA5A1B;}
.st524{fill:#EA591B;}
.st525{fill:#EA581B;}
.st526{fill:#EA571B;}
.st527{fill:#EA561B;}
.st528{fill:#EA551B;}
.st529{fill:#E9541B;}
.st530{fill:#E9531B;}
.st531{fill:#E9521B;}
.st532{fill:#E9511B;}
.st533{fill:#E9501B;}
.st534{fill:#E94F1B;}
.st535{fill:#E94E1C;}
.st536{fill:#E84E1D;}
.st537{fill:#E84E1E;}
.st538{fill:#E74E1F;}
.st539{fill:#E74E20;}
.st540{fill:#E64D20;}
.st541{fill:#E64D21;}
.st542{fill:#E54D22;}
.st543{fill:#E54D23;}
.st544{fill:#E54D24;}
.st545{fill:#E44C24;}
.st546{fill:#E34C25;}
.st547{fill:#E34C26;}
.st548{fill:#E24C27;}
.st549{fill:#E24B28;}
.st550{fill:#E14B29;}
.st551{fill:#E04B29;}
.st552{fill:#E04B2A;}
.st553{fill:#E04A2B;}
.st554{fill:#DF4A2B;}
.st555{fill:#DE4A2C;}
.st556{fill:#DE4A2D;}
.st557{fill:#DD4A2E;}
.st558{fill:#DD492E;}
.st559{fill:#DD492F;}
.st560{fill:#DC492F;}
.st561{fill:#DB4930;}
.st562{fill:#DB4931;}
.st563{fill:#DB4831;}
.st564{fill:#DA4832;}
.st565{fill:#D94833;}
.st566{fill:#D94834;}
.st567{fill:#D84734;}
.st568{fill:#D84735;}
.st569{fill:#D74736;}
.st570{fill:#D64736;}
.st571{fill:#D64737;}
.st572{fill:#D54739;}
.st573{fill:#D4473A;}
.st574{fill:#D4463A;}
.st575{fill:#D3463B;}
.st576{fill:#D3463C;}
.st577{fill:#D2463C;}
.st578{fill:#D2463D;}
.st579{fill:#D2453D;}
.st580{fill:#D1453E;}
.st581{fill:#D0453E;}
.st582{fill:#D0453F;}
.st583{fill:#CF443F;}
.st584{fill:#CF4440;}
.st585{fill:#CE4441;}
.st586{fill:#CD4442;}
.st587{fill:#CC4342;}
.st588{fill:#CC4343;}
.st589{fill:#CB4344;}
.st590{fill:#CA4344;}
.st591{fill:#CA4245;}
.st592{fill:#C94246;}
.st593{fill:#C84247;}
.st594{fill:#C84147;}
.st595{fill:#C74148;}
.st596{fill:#C64149;}
.st597{fill:#C54049;}
.st598{fill:#C5404A;}
.st599{fill:#C4404B;}
.st600{fill:#C33F4C;}
.st601{fill:#C23F4D;}
.st602{fill:#C1404E;}
.st603{fill:#C03F4E;}
.st604{fill:#C03F4F;}
.st605{fill:#BF3F4F;}
.st606{fill:#BF3F50;}
.st607{fill:#BE3E50;}
.st608{fill:#BE3E51;}
.st609{fill:#BD3E51;}
.st610{fill:#BD3E52;}
.st611{fill:#BC3D52;}
.st612{fill:#BC3D53;}
.st613{fill:#BB3D53;}
.st614{fill:#BB3D54;}
.st615{fill:#BA3D54;}
.st616{fill:#B93C54;}
.st617{fill:#B93C55;}
.st618{fill:#B83C56;}
.st619{fill:#B73C56;}
.st620{fill:#B63C57;}
.st621{fill:#B73C57;}
.st622{fill:#B53C58;}
.st623{fill:#B43B58;}
.st624{fill:#B43B59;}
.st625{fill:#B33B59;}
.st626{fill:#B23B5A;}
.st627{fill:#B23A5A;}
.st628{fill:#B13A5B;}
.st629{fill:#B03A5B;}
.st630{fill:#B03A5C;}
.st631{fill:#AF395C;}
.st632{fill:#AE395C;}
.st633{fill:#AE395D;}
.st634{fill:#AD395E;}
.st635{fill:#AC385E;}
.st636{fill:#AC385F;}
.st637{fill:#AB385F;}
.st638{fill:#AA385F;}
.st639{fill:#AA3860;}
.st640{fill:#AA3760;}
.st641{fill:#A93861;}
.st642{fill:#A83761;}
.st643{fill:#A73762;}
.st644{fill:#A63762;}
.st645{fill:#A53763;}
.st646{fill:#A53663;}
.st647{fill:#A43663;}
.st648{fill:#A43664;}
.st649{fill:#A33664;}
.st650{fill:#A33665;}
.st651{fill:#A23565;}
.st652{fill:#A13565;}
.st653{fill:#A13566;}
.st654{fill:#A03466;}
.st655{fill:#9F3467;}
.st656{fill:#9F3468;}
.st657{fill:#9E3468;}
.st658{fill:#9D3468;}
.st659{fill:#9C3469;}
.st660{fill:#9B346A;}
.st661{fill:#9A336A;}
.st662{fill:#9A336B;}
.st663{fill:#99336B;}
.st664{fill:#98326B;}
.st665{fill:#98326C;}
.st666{fill:#97326C;}
.st667{fill:#96326D;}
.st668{fill:#96316D;}
.st669{fill:#95316D;}
.st670{fill:#94316E;}
.st671{fill:#93316E;}
.st672{fill:#92316F;}
.st673{fill:#91316F;}
.st674{fill:#913170;}
.st675{fill:#903070;}
.st676{fill:#8F3070;}
.st677{fill:#8E3071;}
.st678{fill:#8F3071;}
.st679{fill:#8E2F71;}
.st680{fill:#8D2F72;}
.st681{fill:#8C2F72;}
.st682{fill:#8B2F72;}
.st683{fill:#8C2F73;}
.st684{fill:#8B2E73;}
.st685{fill:#8A2E73;}
.st686{fill:#892E74;}
.st687{fill:#882E74;}
.st688{fill:#872E75;}
.st689{fill:#862E75;}
.st690{fill:#862E76;}
.st691{fill:#852E76;}
.st692{fill:#852D76;}
.st693{fill:#842D76;}
.st694{fill:#832D77;}
.st695{fill:#822C77;}
.st696{fill:#812C78;}
.st697{fill:#802C78;}
.st698{fill:#7F2B78;}
.st699{fill:#7F2B79;}
.st700{fill:#7E2B79;}
.st701{fill:#7D2B79;}
.st702{fill:#7D2B7A;}
.st703{fill:#7D2A7A;}
.st704{fill:#7C2B7A;}
.st705{fill:#7B2B7A;}
.st706{fill:#7A2B7B;}
.st707{fill:#7A2A7B;}
.st708{fill:#792A7B;}
.st709{fill:#782A7C;}
.st710{fill:#77297C;}
.st711{fill:#76297D;}
.st712{fill:#75297D;}
.st713{fill:#74287D;}
.st714{fill:#74287E;}
.st715{fill:#73287E;}
.st716{fill:#72287E;}
.st717{fill:#72287F;}
.st718{fill:#71277F;}
.st719{fill:#70277F;}
.st720{fill:#6F2780;}
.st721{fill:#6F2680;}
.st722{fill:#6E2680;}
.st723{fill:#6D2681;}
.st724{fill:#6C2681;}
.st725{fill:#6C2581;}
.st726{fill:#6B2581;}
.st727{fill:#6A2582;}
.st728{fill:#692582;}
.st729{fill:#692482;}
.st730{fill:#682482;}
.st731{fill:#672482;}
.st732{fill:#662483;}
.st733{fill:#682383;}
.st734{fill:#692383;}
.st735{fill:#6A2382;}
.st736{fill:#6B2382;}
.st737{fill:#6C2382;}
.st738{fill:#6D2382;}
.st739{fill:#6E2382;}
.st740{fill:#6F2382;}
.st741{fill:#702382;}
.st742{fill:#712382;}
.st743{fill:#722282;}
.st744{fill:#722281;}
.st745{fill:#732482;}
.st746{fill:#742482;}
.st747{fill:#752482;}
.st748{fill:#762482;}
.st749{fill:#772482;}
.st750{fill:#782482;}
.st751{fill:#782481;}
.st752{fill:#792481;}
.st753{fill:#7A2381;}
.st754{fill:#7B2381;}
.st755{fill:#7C2381;}
.st756{fill:#7D2381;}
.st757{fill:#7D2481;}
.st758{fill:#7E2481;}
.st759{fill:#7F2481;}
.st760{fill:#802481;}
.st761{fill:#812481;}
.st762{fill:#822381;}
.st763{fill:#832380;}
.st764{fill:#842380;}
.st765{fill:#852380;}
.st766{fill:#862380;}
.st767{fill:#872380;}
.st768{fill:#882380;}
.st769{fill:#892480;}
.st770{fill:#8A2380;}
.st771{fill:#8B2380;}
.st772{fill:#8C237F;}
.st773{fill:#8D237F;}
.st774{fill:#8E237F;}
.st775{fill:#8F237F;}
.st776{fill:#90237F;}
.st777{fill:#91227F;}
.st778{fill:#91227E;}
.st779{fill:#92227E;}
.st780{fill:#93227E;}
.st781{fill:#94237E;}
.st782{fill:#95237E;}
.st783{fill:#96237E;}
.st784{fill:#97237E;}
.st785{fill:#98237E;}
.st786{fill:#98227E;}
.st787{fill:#99227E;}
.st788{fill:#9A227E;}
.st789{fill:#9B227E;}
.st790{fill:#9C227D;}
.st791{fill:#9D227D;}
.st792{fill:#9E227D;}
.st793{fill:#9E237D;}
.st794{fill:#9F237D;}
.st795{fill:#A0227D;}
.st796{fill:#A1227D;}
.st797{fill:#A2227D;}
.st798{fill:#A3227D;}
.st799{fill:#A3227C;}
.st800{fill:#A4227C;}
.st801{fill:#A5227C;}
.st802{fill:#A6217C;}
.st803{fill:#A7217C;}
.st804{fill:#A8227C;}
.st805{fill:#A9227C;}
.st806{fill:#AA227C;}
.st807{fill:#AB227B;}
.st808{fill:#AC227B;}
.st809{fill:#AD227B;}
.st810{fill:#AD217B;}
.st811{fill:#AE217B;}
.st812{fill:#AF217B;}
.st813{fill:#B0217B;}
.st814{fill:#B1217B;}
.st815{fill:#B2227B;}
.st816{fill:#B3227B;}
.st817{fill:#B4217B;}
.st818{fill:#B5217A;}
.st819{fill:#B6217A;}
.st820{fill:#B7217A;}
.st821{fill:#B8217A;}
.st822{fill:#B9217A;}
.st823{fill:#B9207A;}
.st824{fill:#BA2079;}
.st825{fill:#BB2079;}
.st826{fill:#BC2079;}
.st827{fill:#BD2179;}
.st828{fill:#BE2179;}
.st829{fill:#BF2179;}
.st830{fill:#C02179;}
.st831{fill:#C12079;}
.st832{fill:#C22079;}
.st833{fill:#C32078;}
.st834{fill:#C42078;}
.st835{fill:#C52078;}
.st836{fill:#C51F78;}
.st837{fill:#C62178;}
.st838{fill:#C72178;}
.st839{fill:#C82178;}
.st840{fill:#C82078;}
.st841{fill:#C92078;}
.st842{fill:#CA2078;}
.st843{fill:#CA2077;}
.st844{fill:#CB2077;}
.st845{fill:#CC2077;}
.st846{fill:#CD2077;}
.st847{fill:#CD1F77;}
.st848{fill:#CE1F77;}
.st849{fill:#CF2177;}
.st850{fill:#D02177;}
.st851{fill:#D02077;}
.st852{fill:#D12076;}
.st853{fill:#D22076;}
.st854{fill:#D32076;}
.st855{fill:#D42076;}
.st856{fill:#D51F76;}
.st857{fill:#D61F76;}
.st858{fill:#D82176;}
.st859{fill:#D82076;}
.st860{fill:#D92075;}
.st861{fill:#DA2075;}
.st862{fill:#DB2075;}
.st863{fill:#DB1F75;}
.st864{fill:#DC1F75;}
.st865{fill:#DD1F75;}
.st866{fill:#DE1F74;}
.st867{fill:#DF1E74;}
.st868{fill:#E01E74;}
.st869{fill:#E02074;}
.st870{fill:#E21F74;}
.st871{fill:#E31F74;}
.st872{fill:#E41E74;}
.st873{fill:#E41E73;}
.st874{fill:#E51E73;}
.st875{fill:#E61E73;}
.st876{fill:#E71D73;}
.st877{fill:#E71E73;}
.st878{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}